.App{
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.dark{
  background-color: hsl(235, 21%, 11%);
  background-image: url(./assets/images/bg-desktop-dark.jpg)
}

.light{
  background-color: hsl(236, 33%, 92%);
  background-image: url(./assets/images/bg-desktop-light.jpg);
}

.todo{
  width: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}